@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-@Type" role="alert">
        @Message
    </div>
}

@code {
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string Type { get; set; }
}
