@page "/balances"
@using SmartSaver.Presentation.Models
@using SmartSaver.Presentation.Shared.LoadingSpinner
@inject HttpClient Http
@inject NavigationManager NavigationManager;
<h1>Balances</h1>
@if (_user == null)
{
    <LoadingSpinner />
}
else
{
    <div class="form-control-lg">
    <EditForm Model="@_user" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <p><label> Cash balance:</label>
        <InputNumber id="cash" @bind-Value="@_user.Cash" />
        </p>
        <p><label> Card balance:</label>
        <InputNumber id="card" @bind-Value="@_user.Card" />
        </p>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </EditForm>
      </div>
}
    @code
{
private User _user;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _user = await Http.GetFromJsonAsync<User>("https://localhost:44301/users");
        }
        catch (Exception)
        {
            NavigationManager.NavigateTo("/error");
        }
    }

    protected async Task HandleSubmit()
    {
        try
        {
            await Http.PutAsJsonAsync(@"https://localhost:44301/users", _user);
        }
        catch (Exception)
        {
            NavigationManager.NavigateTo("/error");
        }
    }
}
