@page "/counter"
@using SmartSaver.Presentation.Models
@inject HttpClient Http
<h1>Balances</h1>

<table class="table">
    <thead>
        <tr>
            <th>Cash</th>
            <th>Card</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in _user)
        {
            <tr>
                <td>@user.Cash</td>
                <td>@user.Card</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private User[] _user;

    protected override async Task OnInitializedAsync()
    {
        _user = await Http.GetFromJsonAsync<User[]>("http://localhost:5000/transactions");
    }
}
