@page "/transactions"

@using SmartSaver.Presentation.Models

@inject HttpClient Http

<h1>Transactions</h1>

@if (_transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Description</th>
                <th>Date</th>
                <th>Balance Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in _transactions)
            {
                <tr>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.CreatedAt</td>
                    <td>@transaction.BalanceType</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Transaction[] _transactions;

    protected override async Task OnInitializedAsync()
    {
        _transactions = await Http.GetFromJsonAsync<Transaction[]>("https://localhost:44392/transactions");
    }
}

