@page "/"
@using SmartSaver.Presentation.Shared.Breadcrumbs
@inject IBreadcrumbService BreadcrumbService

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    protected override void OnInitialized()
    {
        InitializeBreadCrumbs();
    }

    private void InitializeBreadCrumbs()
    {
        BreadcrumbService.ClearList();
        BreadcrumbService.AddBreadcrumb("Home", "/Home");
        BreadcrumbService.InvokeBreadcrumbsChanged();
    }
}

